<!--Header Begin-->
<app-header></app-header>
<!--Header END-->

<!--Sidemenu Begin-->
<app-sidemenu></app-sidemenu>
<!--Sidemenu END-->

<div class="content-wrapper">
    <div class="page-title-bar">
        <h2>
           Dashboard
        </h2>
    </div>
    <div class="page-content text-center">
        <div class="dashboard-items">
          <ul>
            <li routerLink="/sample-diagnosis-approval-list">
              <img src="../../../../assets/img/approve-diagnosis.svg" alt="Approve Diagnosis" />
              <h3>
                Approve Diagnosis
              </h3>
            </li>
            <li routerLink="/manage-hardware-list">
              <img src="../../../../assets/img/manage-hardware.svg" alt="Manage Hardware" />
              <h3>
                Manage Hardware
              </h3>
            </li>
            <li routerLink="/monitor-cash-list">
              <img src="../../../../assets/img/monitor-cash.svg"  alt="Monitor Cash" />
              <h3>
                Monitor <span class="block-element">Cash</span>
              </h3>
            </li>
            <li routerLink="/vehicle-master">
              <img src="../../../../assets/img/vehicle-master.svg" alt="Vehicle Master" />
              <h3>
                Vehicle <span class="block-element">Master</span>
              </h3>
            </li>
            <li routerLink="/vehicle-schedule-list">
              <img src="../../../../assets/img/vehicle-schedule.svg" alt="Vehicle Schedule" />
              <h3>
                Vehicle Schedule
              </h3>
            </li>
          </ul>
        </div>
    </div>
</div>
<!--Footer Begin-->
<app-footer></app-footer>
<!--Footer END-->
