<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Validate Stress
                            <!-- <div class="card-header-actions">
                                <button class="btn btn-primary btn-sm move-right" [routerLink]="['/farmer/validate-stress/edit-validate-stress']"> Add
                  Validate Stress</button>
                            </div> -->
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3  col-lg-12 col-md-12 p-0">
                                <input type="text" class="form-control" placeholder="Search here...  "
                                    [(ngModel)]="searchText">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="search()">Search</button>
                                    <button class="btn btn-danger" type="button"
                                        (click)="searchText='';search()">Clear</button>
                                </div>
                                <!-- <div class="btn-group action-buttons col-lg-4 col-md-4">
                                    <button class="btn btn-success approve" [disabled]="bulkDatas.disbled" type="button"
                                        (click)="bulkData('Approve','agri_allied_activity')">Approve All</button>
                                    <button class="btn btn-danger reject" [disabled]="bulkDatas.disbled" type="button"
                                        (click)="bulkData('Rejected','agri_allied_activity')">Reject All</button>
                                    <button class="btn btn-primary finalise" [disabled]="bulkDatas.disbled"
                                        type="button" (click)="bulkData('Active','agri_allied_activity')">Finalize
                                        All</button>
                                </div> -->
                            </div>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm" matSort
                                (matSortChange)="sortData($event)">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-left" mat-sort-header="stateName">State Name</th>
                                        <th class="text-left" mat-sort-header="districtName">District Name</th>
                                        <th class="text-left" mat-sort-header="commodity_name">Commodity Name</th>
                                        <th class="text-left" mat-sort-header="varietyName">Variety Name</th>
                                        <th class="text-left" mat-sort-header="phenophaseName">Phenophase Name</th>
<!--                                        <th class="text-left" mat-sort-header="image">Image</th>-->
                                        <!-- <th class="text-left" mat-sort-header="case_id">Status</th> -->
                                        <th style="width: 150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let activity of pageValidateStress.content">
                                        <td class="text-left">{{activity.stateName}}</td>
                                        <td class="text-left">{{activity.districtName}}</td>
                                        <td class="text-left">{{activity.commodityName}}</td>
                                        <td class="text-left">{{activity.varietyName}}</td>
                                        <td class="text-left">{{activity.phenophaseName}}</td>
<!--                                        <td class="text-left">{{activity.frontPhoto}}</td>-->

                                        <td>
                                            <button type="button" class="btn btn-info btn-sm move-right" title="Edit"
                                                [routerLink]="['/farmer/edit-stress/', activity.id]"
                                                *ngIf="userRightsService.canEdit()"><i
                                                    class="fa fa-pencil-square-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody *ngIf="pageValidateStress.content.length == 0">
                                    <td colspan="5" class="text-left">Data Not Found..!!</td>
                                </tbody>
                            </table>
                             <div class="row justify-content-between m-0">
                                <div class="col-xs-9 col-9 text-center p-0" *ngIf="pageValidateStress?.content">
                                    <pagination [totalItems]="pageValidateStress.totalElements"
                                        [(ngModel)]="selectedPage" [maxSize]="maxSize" class="pagination-md"
                                        previousText="&lsaquo; Prev" nextText="Next &rsaquo;" firstText="&laquo; First"
                                        lastText="Last &raquo; " [boundaryLinks]="true"
                                        [itemsPerPage]="pageValidateStress.size" [rotate]="false"
                                        (numPages)="numPages = $event;" (pageChanged)="onSelect($event.page-1)">
                                    </pagination>
                                </div>
                                <div class="row col-xs-3 col-3 m-0" *ngIf="pageValidateStress?.content">
                                    <div class="col text-right p-0">
                                        <label class="text-right">Records per page</label>
                                        <select class="p-0" (change)="loadData($event)">
                                            <option value="10" selected>10</option>
                                            <option *ngFor="let items of records" value="{{items}}">{{items}}</option>
                                        </select> &nbsp;
                                        <label class="text-center">Page {{selectedPage}} of
                                            {{pageValidateStress.totalPages}}</label>
                                    </div>
                                </div>

                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <app-confirmation-madal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-madal>
    <app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
    <app-error-modal #errorModal></app-error-modal>