<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header"><strong>Add Stress</strong><small> Form</small></div>
                <form [formGroup]="stressForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="card-body">


                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>State <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="stateCode" class="form-control" [ngClass]="{'is-invalid': stressForm.get('stateCode').touched && stressForm.get('stateCode').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let state of StateList" value={{state.stateCode}}>
                                        {{state.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select State</div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Region</label>
                                <select formControlName="regionId" class="form-control"
                                    [ngClass]="{'is-invalid': stressForm.get('regionId').touched && stressForm.get('regionId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let region of RegionList" value={{region.regionId}}>
                                        {{region.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Region</div>
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="form-group col-sm-12 mb-0">
                                <label>Stress <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="stressId" class="form-control" [ngClass]="{'is-invalid': stressForm.get('stressId').touched && stressForm.get('stressId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let stress of StressList" value={{stress.id}}>
                                        {{stress.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Stress</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Submit </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/regional/stress']">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Form -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <strong>Bulk Insert</strong><small> Form</small>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-primary" (click)="downloadExcelFormat()" title="Download Format"><i class="fa fa-download" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>


                <form (ngSubmit)="submitExcelForm()" novalidate>

                    <div class="card-body">

                        <div class="form-group mb-0">
                            <label for="file-input">Select excel(.xlsx) file</label>
                            <input class="form-control-file" type="file" id="file-input" name="file-input" accept=".xlsx" (change)="uploadExcel($event)">
                        </div>


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Submit </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/regional/stress']">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>