<footer>
    <div class="col-sm-12 clear-padding">

      <div class="col-sm-4 footer-links">
        <ul>
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="https://cropdata.in/privacy-and-terms.html" target="_blank">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 copyright">
          <p>
              All rights reserved. Copyright Cropdata   c  2019
          </p>
          <ul>
            <li>
                Build data                
            </li>
            <li>
              Software version 2.0
            </li>
            <li>
              Update date 22-03-2019
            </li>
          </ul>
      </div>
    </div>
</footer>
