<div class="row">

    <!-- Form -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><strong><span *ngIf="mode=='add'"> Add New </span> <span
                    *ngIf="mode=='edit'">Edit </span> Quantity Loss Chart </strong></div>


            <form [formGroup]="quantityLossChartForm" (ngSubmit)="submitQuantityLossChartForm()" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>Commodity <span class="required-asterisk" style="color:red;">*</span></label>
                            <select formControlName="commodityId" class="form-control" (change)="cmd($event.target.value);loadAllCommodityByPhenophase()" [ngClass]="{'is-invalid': quantityLossChartForm.get('commodityId').touched && quantityLossChartForm.get('commodityId').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let commodity of commodityList" value={{commodity.id}}>
                                    {{commodity.name}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                <div>Please Select Commodity</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>Phenophase <span class="required-asterisk" style="color:red;">*</span></label>
                            <select formControlName="phenophaseId" class="form-control" (change)="phn($event.target.value)" [ngClass]="{'is-invalid': quantityLossChartForm.get('phenophaseId').touched && quantityLossChartForm.get('phenophaseId').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let phenophase of phenophaseList" value={{phenophase.phenophaseId}}>

                                    {{phenophase.phenophase}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                <div>Please Select Phenophase</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>Stress <span class="required-asterisk" style="color:red;">*</span></label>
                            <select formControlName="stressId" class="form-control" [ngClass]="{'is-invalid': quantityLossChartForm.get('stressId').touched && quantityLossChartForm.get('stressId').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let stress of stressList" value={{stress.id}}>
                                    {{stress.name}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                <div>Please Select Stress</div>
                            </div>
                        </div>
                    </div>

                    <!--                    <div class="row">-->
                    <!--                        <div class="form-group col-sm-12">-->
                    <!--                            <label>Band Name</label>-->
                    <!--                            <select formControlName="stressSeverityID" class="form-control" [ngClass]="{'is-invalid': quantityLossChartForm.get('stressSeverityID').touched && quantityLossChartForm.get('stressSeverityID').invalid}">-->
                    <!--                                <option value="">&#45;&#45;Select&#45;&#45;</option>-->
                    <!--                                <option *ngFor="let bandname of bandNames" value={{bandname.id}}>-->
                    <!--                                    {{bandname.name}}-->
                    <!--                                </option>-->
                    <!--                            </select>-->
                    <!--                            <div class="invalid-feedback">-->
                    <!--                                <div>Please Select Band</div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!-- <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Criteria</label>
                                <select formControlName="criteriaId" class="form-control"
                                    [ngClass]="{'is-invalid': quantityLossChartForm.get('criteriaId').touched && quantityLossChartForm.get('criteriaId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let criteria of criteriaList" value={{criteria.id}}>
                                        {{criteria.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Criteria</div>
                                </div>
                            </div>
                        </div> -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Min Quantity Correction Percent <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="number" formControlName="minQuantityCorrectionPercent" class="form-control" [ngClass]="{'is-invalid': quantityLossChartForm.get('minQuantityCorrectionPercent').touched && quantityLossChartForm.get('minQuantityCorrectionPercent').invalid}">
                                <div class="invalid-feedback">
                                    <div *ngIf="quantityLossChartForm.get( 'minQuantityCorrectionPercent').errors?.required">Min Quantity Correction Percent is required</div>
                                    <div *ngIf="quantityLossChartForm.get( 'minQuantityCorrectionPercent').errors?.pattern">Min Quantity Correction Percent Value must be Numeric</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Max Quantity Correction Percent <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="number" formControlName="maxQuantityCorrectionPercent" class="form-control" [ngClass]="{'is-invalid': quantityLossChartForm.get('maxQuantityCorrectionPercent').touched && quantityLossChartForm.get('maxQuantityCorrectionPercent').invalid}">
                                <div class="invalid-feedback">
                                    <div *ngIf="quantityLossChartForm.get( 'maxQuantityCorrectionPercent').errors?.required">Max Quantity Correction Percent is required</div>
                                    <div *ngIf="quantityLossChartForm.get( 'maxQuantityCorrectionPercent').errors?.pattern">Max Quantity Correction Percent Value must be Numeric</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Min Band Value <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="number" formControlName="minBandValue" class="form-control" [ngClass]="{'is-invalid': quantityLossChartForm.get('minBandValue').touched && quantityLossChartForm.get('minBandValue').invalid}">
                                <div class="invalid-feedback">
                                    <div *ngIf="quantityLossChartForm.get( 'minBandValue').errors?.required">Min Band Value is required</div>
                                    <div *ngIf="quantityLossChartForm.get( 'minBandValue').errors?.pattern">Min Band Value must be Numeric</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group mb-0">
                                <label>Max Band Value <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="number" formControlName="maxBandValue" class="form-control" [ngClass]="{'is-invalid': quantityLossChartForm.get('maxBandValue').touched && quantityLossChartForm.get('maxBandValue').invalid}">
                                <div class="invalid-feedback">
                                    <div *ngIf="quantityLossChartForm.get( 'maxBandValue').errors?.required">Max Band Value is required</div>
                                    <div *ngIf="quantityLossChartForm.get( 'maxBandValue').errors?.pattern">Max Band Value must be Numeric</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><span *ngIf="mode=='add'"> Submit </span> <span
                        *ngIf="mode=='edit'">Update </span></button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/yield/quantity-loss-chart']">cancel</button>
                </div>

            </form>


        </div>
    </div>

    <!--    <div class="col-md-4">-->
    <!--        <div class="card">-->
    <!--            <div class="card-header">-->
    <!--                <div class="row">-->
    <!--                    <strong>-->
    <!--                        Bulk Insert <small>Form</small>-->
    <!--                    </strong>-->
    <!--                    <div class="col text-right">-->
    <!--                        <button type="button" class="btn btn-primary"  title="Download Format">-->
    <!--                            <i class="fa fa-download" area-hidden="true"></i>-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="card-body">-->
    <!--                <div *ngIf="isSubmittedBulk">-->
    <!--                    <div >-->

    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!-- Form -->

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <strong>Bulk Insert</strong><small> Form</small>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" (click)="downloadExcelFormat()" title="Download Format">
                            <i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <!-- 

            <div *ngIf="isSubmittedBulk">
                <div class="alert alert-success" *ngIf="isSuccess">
                    <strong> {{_statusMsg}} Please Wait ..</strong>.
                </div>

                <div class="alert alert-danger" *ngIf="!isSuccess ">
                    <strong>{{_statusMsg}}</strong>
                </div>
            </div> -->

            <form (ngSubmit)="submitExcelForm()" novalidate>
                <div class="card-body">
                    <div class="form-group mb-0">
                        <label for="file-input">Select excel(.xlsx) file</label>
                        <input class="form-control-file" type="file" id="file-input" name="file-input" accept=".xlsx" (change)="uploadExcel($event)">
                    </div>

                </div>
                <div class="card-footer"> <button class="btn btn-primary" type="submit"> Submit </button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/yield/quantity-loss-chart']">cancel</button></div>
            </form>
        </div>

    </div>

</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>