<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Calling status
                            <div class="card-header-actions">
                                <button class="btn btn-primary btn-sm move-right" [routerLink]="['/general/calling-status-add/']"> Add Calling Status</button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3  col-lg-12 col-md-12 p-0">
                                <input type="text" class="form-control" placeholder="Search here...  " [(ngModel)]="searchText">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="search()">Search</button>
                                    <button class="btn btn-danger" type="button" (click)="searchText='';search()">Clear</button>
                                </div>
                                <div class="btn-group action-buttons col-lg-4 col-md-4">
                                    <button class="btn btn-success approve" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Approved','general_calling_status')">Approve All</button>
                                    <button class="btn btn-danger reject" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Rejected','general_calling_status')">Reject All</button>
                                    <button class="btn btn-primary finalise" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Active','general_calling_status')">Finalize All</button>
                                </div>
                            </div>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm" matSort (matSortChange)="sortData($event)">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20px;">
                                            <label class="pure-material-checkbox">
                                                <input type="checkbox" (change)="bulkDatas.checkAll($event)" id="masterChkBox">
                                        <span></span>
                                    </label>
                                        </th>
                                        <th style="width: 20px;" mat-sort-header="id">ID</th>
                                        <th class="text-left" mat-sort-header="callingStatus">Calling Status</th>
                                        <th style="width: 120px;" class="text-center" mat-sort-header="status">Status</th>
                                        <th style="width: 150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let status of pageGeneralCallingStatus.content | searchFilter :searchText:['id','name','status']">
                                        <td>
                                            <label class="pure-material-checkbox">
                            <input type="checkbox" (change)="bulkDatas.checked($event)" value="{{status.id}}">
                            <span></span>
                        </label>
                                        </td>
                                        <td scope="row">{{status.id}}</td>
                                        <td class="text-left">{{status.callingStatus}}</td>
                                        <td style="width: 120px;" class="text-center">
                                            <span style="width: 100px;" class="{{status.status =='Inactive'?'badge badge-secondary':status.status =='Approved'?'badge badge-success':status.status =='Active'?'badge badge-primary':'badge badge-danger'}}">{{status.status}}</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm move-right" title="Edit" [routerLink]="['/general/calling-status-edit/', status.id]" *ngIf="userRightsService.canEdit()"><i
                              class="fa fa-pencil-square-o"></i></button>
                                            <button type="button" class="btn btn-success btn-sm move-right" title="Approve" [disabled]="status.status == callingStatusStatus.APPROVED_STATUS||status.status == callingStatusStatus.ACTIVE_STATUS" (click)="approve(status,i)" *ngIf="userRightsService.canPrimaryApprove()"><i
                              class="fa fa-get-pocket"></i></button>
                                            <button type="button" class="btn btn-primary btn-sm move-right" title="{{status.status == callingStatusStatus.INACTIVE_STATUS || status.status == callingStatusStatus.REJECTED_STATUS?callingStatusStatus.CAN_NOT_FINALIZE:'Finalize'}}" [disabled]="status.status == callingStatusStatus.ACTIVE_STATUS || status.status == callingStatusStatus.INACTIVE_STATUS || status.status == callingStatusStatus.REJECTED_STATUS"
                                                (click)="finalize(status,i)" *ngIf="userRightsService.canFinalize()"><i
                              class="fa  fa-thumbs-up"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm move-right" title="Reject" [disabled]="status.status == callingStatusStatus.REJECTED_STATUS" (click)="reject(status,i)" *ngIf="userRightsService.canReject()"><i
                              class="fa fa-close"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm move-right" title="Delete" [disabled]="status.status == callingStatusStatus.DELETED_STATUS" (click)="delete(status,i)" *ngIf="userRightsService.canDelete()"><i
                              class="fa fa-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="pageGeneralCallingStatus.content.length == 0">
                                    <td colspan="5" class="text-left">Data Not Found..!!</td>
                                </tbody>
                            </table>
                            <div class="row justify-content-between m-0">
                                <div class="col-xs-9 col-9 text-center p-0" *ngIf="pageGeneralCallingStatus?.content">
                                    <pagination [totalItems]="pageGeneralCallingStatus.totalElements" [(ngModel)]="selectedPage" [maxSize]="maxSize" class="pagination-md" previousText="&lsaquo; Prev" nextText="Next &rsaquo;" firstText="&laquo; First" lastText="Last &raquo; " [boundaryLinks]="true"
                                        [itemsPerPage]="pageGeneralCallingStatus.size" [rotate]="false" (numPages)="numPages = $event;" (pageChanged)="onSelect($event.page-1)">
                                    </pagination>
                                </div>
                                <div class="row col-xs-3 col-3 m-0" *ngIf="pageGeneralCallingStatus?.content">
                                    <div class="col text-right p-0">
                                        <label class="text-right">Records per page</label>
                                        <select class="p-0" (change)="loadData($event)">
                                    <option value="10" selected>10</option>
                                    <option *ngFor="let items of records" value="{{items}}">{{items}}</option>
                                </select> &nbsp;
                                        <label class="text-center">Page {{selectedPage}} of
                                    {{pageGeneralCallingStatus.totalPages}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirmation-madal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-madal>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>