<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Sync Config
                            <div class="card-header-actions">
                                <button class="btn btn-primary btn-sm move-right" [routerLink]="['/config/sync-configuration/sync-configuration-add/']"> Add
                  Sync Config</button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3  col-lg-12 col-md-12 p-0">
                                <input type="text" class="form-control" placeholder="Search here...  " [(ngModel)]="searchText">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="search()">Search</button>
                                    <button class="btn btn-danger" type="button" (click)="searchText='';search()">Clear</button>
                                </div>
                            </div>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm" matSort (matSortChange)="sortData($event)">
                                <thead class="thead-light">
                                    <tr>
                                       
                                        <th style="width: 20px;" mat-sort-header="id">ID</th>
                                        <th class="text-left" mat-sort-header="screen">Screen</th>
                                        <th class="text-left" mat-sort-header="roleName">Role</th>
                                        <th class="text-left" mat-sort-header="labelName">Label Name</th>
                                        <th class="text-left" mat-sort-header="schemaName">Schema Name</th>
                                        <th class="text-left" mat-sort-header="zippingLevel">Zipping Level</th>
                                        <!-- <th class="text-left" mat-sort-header="syncFrequency">Sync Frequency</th> -->
                                        <th style="width: 120px;" class="text-center" mat-sort-header="status">Status</th>
                                        <th style="width: 120px !important; min-width: 120px !important;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let syncCofig of pageSyncConfiguration.content | searchFilter :searchText:['id','screen','roleName','labelName','schemaName','zippingLevel','status']">
                                      
                                        <td scope="row">{{syncCofig.id}}</td>
                                        <td class="text-left">{{syncCofig.screen}}</td>
                                        <td class="text-left">{{syncCofig.roleName}}</td>
                                        <td class="text-left">{{syncCofig.labelName}}</td>
                                        <td class="text-left">{{syncCofig.schemaName}}</td>
                                        <td class="text-left">{{syncCofig.zippingLevel}}</td>
                                        <!-- <td class="text-left">{{syncCofig.syncFrequency}}</td> -->
                                        <td style="width: 120px;" class="text-center">
                                            <span style="width: 100px;" class="{{syncCofig.status =='Inactive'?'badge badge-secondary':syncCofig.status =='Active'?'badge badge-primary':'badge badge-danger'}}">{{syncCofig.status}}</span>
                                        </td>
                                        <td style="width: 120px !important;">
                                            <button type="button" class="btn btn-info btn-sm move-right" title="Edit" [routerLink]="['/config/sync-configuration/sync-configuration-edit/', syncCofig.id]" *ngIf="userRightsService.canEdit()"><i
                        class="fa fa-pencil-square-o"></i></button>
                                            <button type="button" class="btn btn-primary btn-sm move-right" title="Activate" [disabled]="syncCofig.status == synchConfigStatus.ACTIVE_STATUS" (click)="activate(syncCofig)" [ngStyle]="(syncCofig.status == synchConfigStatus.ACTIVE_STATUS) == true ? {'cursor': 'not-allowed'} : {'cursor': 'pointer'}" *ngIf="userRightsService.canActive()"><i
                                                class="fa  fa-thumbs-up"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm move-right" title="Reject" [disabled]="syncCofig.status == synchConfigStatus.INACTIVE_STATUS" (click)="reject(syncCofig)" [ngStyle]="(syncCofig.status == synchConfigStatus.INACTIVE_STATUS) == true ? {'cursor': 'not-allowed'} : {'cursor': 'pointer'}" *ngIf="userRightsService.canReject()"><i
                        class="fa fa-close"></i></button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody *ngIf="pageSyncConfiguration.content.length == 0">
                                    <td colspan="7" class="text-left">Data Not Found..!!</td>
                                </tbody>
                            </table>
                            <div class="row justify-content-between m-0">
                                <div class="col-xs-9 col-9 text-center p-0" *ngIf="pageSyncConfiguration?.content">
                                    <pagination [totalItems]="pageSyncConfiguration.totalElements" [(ngModel)]="selectedPage" [maxSize]="maxSize" class="pagination-md" previousText="&lsaquo; Prev" nextText="Next &rsaquo;" firstText="&laquo; First" lastText="Last &raquo;" [boundaryLinks]="true"
                                        [itemsPerPage]="pageSyncConfiguration.size" [rotate]="false" (numPages)="numPages = $event;" (pageChanged)="onSelect($event.page-1)">
                                    </pagination>
                                </div>
                                <div class="row col-xs-3 col-3 m-0" *ngIf="pageSyncConfiguration?.content">
                                    <div class="col text-right p-0">
                                        <label class="text-right">Records per page</label>
                                        <select class="p-0" (change)="loadData($event)">
                                    <option value="10" selected>10</option>
                                    <option *ngFor="let items of records" value="{{items}}">{{items}}</option>
                                </select> &nbsp;
                                        <label class="text-center">Page {{selectedPage}} of
                                    {{pageSyncConfiguration.totalPages}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirmation-madal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-madal>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>