<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong>Edit HSN Code</strong><small> Form</small></div>
                <form [formGroup]="updateHsCodeForm" (ngSubmit)="submitForm()" novalidate>

                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Commodity <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="commodityId" class="form-control" [ngClass]="{'is-invalid': updateHsCodeForm.get('commodityId').touched && updateHsCodeForm.get('commodityId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let commodity of CommodityList" value={{commodity.id}}>
                                        {{commodity.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Commodity</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Commodity Class <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="commodityClassId" class="form-control" [ngClass]="{'is-invalid': updateHsCodeForm.get('commodityClassId').touched && updateHsCodeForm.get('commodityClassId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let commodityClass of CommodityClassList"
                                        value={{commodityClass.id}}>
                                        {{commodityClass.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Commodity Class</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>General Commodity <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="generalCommodityId" class="form-control" [ngClass]="{'is-invalid': updateHsCodeForm.get('generalCommodityId').touched && updateHsCodeForm.get('generalCommodityId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let generalCommodity of GeneralCommodityList"
                                        value={{generalCommodity.id}}>
                                        {{generalCommodity.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select GeneralCommodity</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>HSN Code <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="hsCode" class="form-control" [ngClass]="{'is-invalid': updateHsCodeForm.get('hsCode').touched && updateHsCodeForm.get('hsCode').invalid}" (change)="trimValue(this.updateHsCodeForm.get('hsCode'))">
                                <div class="invalid-feedback">
                                    <div>HSN Code is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Uom <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="uomId" class="form-control" [ngClass]="{'is-invalid': updateHsCodeForm.get('uomId').touched && updateHsCodeForm.get('uomId').invalid}">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let uom of UomList"
                                            value={{uom.id}}>
                                            {{uom.name}}
                                        </option>
                                    </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Uom</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group mb-0">
                                    <label>Description <span class="required-asterisk" style="color:red;">*</span></label>
                                    <textarea class="form-control" id="textarea-input" formControlName="description" rows="4" (change)="trimValue(this.updateHsCodeForm.get('description'))"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Update </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/commodity/hs-code']">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>