<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header"><strong><span *ngIf="mode=='add'"> Add New </span> <span
                    *ngIf="mode=='edit'">Edit </span> Regional Bank</strong></div>
                <form [formGroup]="BankForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="card-body">



                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>State <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="stateCode" class="form-control" [ngClass]="{'is-invalid': BankForm.get('stateCode').touched && BankForm.get('stateCode').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let state of StateList" value={{state.stateCode}}>
                                        {{state.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select State</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 mb-0">
                                <label>Bank <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="bankId" class="form-control" [ngClass]="{'is-invalid': BankForm.get('bankId').touched && BankForm.get('bankId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let bank of BankNameList" value={{bank.id}}>
                                        {{bank.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Bank</div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> <span *ngIf="mode=='add'"> Submit </span> <span
                            *ngIf="mode=='edit'">Update </span></button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/regional/bank']">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
        <!-- Form -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <strong>Bulk Insert</strong><small> Form</small>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-primary" (click)="downloadExcelFormat()" title="Download Format"><i class="fa fa-download" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <form (ngSubmit)="submitExcelForm()" novalidate>
                    <div class="card-body">



                        <div class="form-group mb-0">
                            <label for="file-input">Select excel(.xlsx) file</label>
                            <input class="form-control-file" type="file" id="file-input" name="file-input" accept=".xlsx" (change)="uploadExcel($event)">
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Submit</button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/regional/bank']">Cancel</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>