<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form (submit)="changeOverallChart(OverallForm)" #OverallForm="ngForm" novalidate>

                        <div class="row justify-content-between">

                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Commodity</mat-label>
                                    <mat-select name="overallCommodityID"
                                                class="filter-select"
                                                [(ngModel)]="selectedCommodityID"
                                                [compareWith]="equals"
                                                #OACommoditySelect="ngModel"
                                                multiple
                                    >
                                        <mat-option
                                                disabled="disabled"
                                                class="filter-option">
                                            <button
                                                    mat-raised-button
                                                    class="mat-primary fill text-sm"
                                                    (click)="selectAll(OACommoditySelect, commodityIdNameMap)"
                                                   >
                                                Select All
                                            </button>
                                            <button
                                                    mat-raised-button
                                                    class="mat-accent fill text-sm"
                                                    (click)="deselectAll(OACommoditySelect)"
                                                    >
                                                Deselect All
                                            </button>
                                        </mat-option>
                                        <mat-option
                                                *ngFor="let commodity of commodityIdNameMap"
                                                [value]="commodity">{{commodity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-sm-4 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Region</mat-label>
                                    <mat-select name="regionID"
                                                class="filter-select"
                                                [(ngModel)]="selectedRegionID"
                                                [compareWith]="equals"
                                                #regionSelect="ngModel"
                                                multiple
                                    >
                                        <mat-option
                                                disabled="disabled"
                                                class="filter-option">
                                            <button
                                                    mat-raised-button
                                                    class="mat-primary fill text-sm"
                                                    (click)="selectAll(regionSelect, regionIdNameMap)">
                                                Select All
                                            </button>
                                            <button
                                                    mat-raised-button
                                                    class="mat-accent fill text-sm"
                                                    (click)="deselectAll(regionSelect)">
                                                Deselect All
                                            </button>
                                        </mat-option>
                                        <mat-option
                                                *ngFor="let region of regionIdNameMap"
                                                [value]="region">{{region.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-2 move-right">
                                <mat-card-actions>
                                    <button style="margin-top: 4%;!important;" mat-raised-button color="primary"
                                            mat-button type=submit>Search
                                    </button>
                                </mat-card-actions>
                            </div>
                        </div>
                    </form>


                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div style="height: 600px">
                                <canvas id="commodityAreaChart"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
