<div id="ui-view">
    <div>
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
  
              <div class="card-header">
                <i class="fa fa-align-justify"></i>No. of villages
              </div>
  
              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead class="thead-light">
                        <tr><th>ID</th><th>State</th><th>District</th><th>No. of villages</th></tr>
                    </thead>
                    <tbody>        
                        <tr><td>1</td><td>GUJARAT</td><td>AHMADABAD</td><td>548</td></tr>
                        <tr><td>2</td><td>GUJARAT</td><td>AMRELI</td><td>627</td></tr>
                        <tr><td>3</td><td>GUJARAT</td><td>ANAND</td><td>366</td></tr>
                        <tr><td>4</td><td>GUJARAT</td><td>BANAS KANTHA</td><td>1250</td></tr>
                        <tr><td>5</td><td>GUJARAT</td><td>BHARUCH</td><td>675</td></tr>
                        <tr><td>6</td><td>GUJARAT</td><td>BHAVNAGAR</td><td>815</td></tr>
                        <tr><td>7</td><td>GUJARAT</td><td>DANG</td><td>311</td></tr>
                        <tr><td>8</td><td>GUJARAT</td><td>DOHAD</td><td>699</td></tr>
                        <tr><td>9</td><td>GUJARAT</td><td>GANDHINAGAR</td><td>291</td></tr>
                        <tr><td>10</td><td>GUJARAT</td><td>JAMNAGAR</td><td>733</td></tr>
                        <tr><td>11</td><td>GUJARAT</td><td>JUNAGADH</td><td>1045</td></tr>
                        <tr><td>12</td><td>GUJARAT</td><td>KACHCHH</td><td>939</td></tr>
                        <tr><td>13</td><td>GUJARAT</td><td>KHEDA</td><td>630</td></tr>
                        <tr><td>14</td><td>GUJARAT</td><td>MAHESANA</td><td>616</td></tr>
                        <tr><td>15</td><td>GUJARAT</td><td>NARMADA</td><td>614</td></tr>
                        <tr><td>16</td><td>GUJARAT</td><td>NAVSARI</td><td>387</td></tr>
                        <tr><td>17</td><td>GUJARAT</td><td>PANCH MAHALS</td><td>1221</td></tr>
                        <tr><td>18</td><td>GUJARAT</td><td>PATAN</td><td>525</td></tr>
                        <tr><td>19</td><td>GUJARAT</td><td>PORBANDAR</td><td>188</td></tr>
                        <tr><td>20</td><td>GUJARAT</td><td>RAJKOT</td><td>864</td></tr>
                        <tr><td>21</td><td>GUJARAT</td><td>SABAR KANTHA</td><td>1395</td></tr>
                        <tr><td>22</td><td>GUJARAT</td><td>SURAT</td><td>740</td></tr>
                        <tr><td>23</td><td>GUJARAT</td><td>SURENDRANAGAR</td><td>660</td></tr>
                        <tr><td>24</td><td>GUJARAT</td><td>TAPI</td><td>492</td></tr>
                        <tr><td>25</td><td>GUJARAT</td><td>VADODARA</td><td>1578</td></tr>
                        <tr><td>26</td><td>GUJARAT</td><td>VALSAD</td><td>467</td></tr>
                        <tr><td>27</td><td>RAJASTHAN</td><td>AJMER</td><td>1123</td></tr>
                        <tr><td>28</td><td>RAJASTHAN</td><td>ALWAR</td><td>2072</td></tr>
                        <tr><td>29</td><td>RAJASTHAN</td><td>BANSWARA</td><td>1517</td></tr>
                        <tr><td>30</td><td>RAJASTHAN</td><td>BARAN</td><td>1229</td></tr>
                        <tr><td>31</td><td>RAJASTHAN</td><td>BARMER</td><td>2464</td></tr>
                        <tr><td>32</td><td>RAJASTHAN</td><td>BHARATPUR</td><td>1534</td></tr>
                        <tr><td>33</td><td>RAJASTHAN</td><td>BHILWARA</td><td>1843</td></tr>
                        <tr><td>34</td><td>RAJASTHAN</td><td>BIKANER</td><td>925</td></tr>
                        <tr><td>35</td><td>RAJASTHAN</td><td>BUNDI</td><td>883</td></tr>
                        <tr><td>36</td><td>RAJASTHAN</td><td>CHITTORGARH</td><td>1737</td></tr>
                        <tr><td>37</td><td>RAJASTHAN</td><td>CHURU</td><td>909</td></tr>
                        <tr><td>38</td><td>RAJASTHAN</td><td>DAUSA</td><td>1114</td></tr>
                        <tr><td>39</td><td>RAJASTHAN</td><td>DHOLPUR</td><td>825</td></tr>
                        <tr><td>40</td><td>RAJASTHAN</td><td>DUNGARPUR</td><td>980</td></tr>
                        <tr><td>41</td><td>RAJASTHAN</td><td>GANGANAGAR</td><td>3034</td></tr>
                        <tr><td>42</td><td>RAJASTHAN</td><td>HANUMANGARH</td><td>1913</td></tr>
                        <tr><td>43</td><td>RAJASTHAN</td><td>JAIPUR</td><td>2199</td></tr>
                        <tr><td>44</td><td>RAJASTHAN</td><td>JAISALMER</td><td>801</td></tr>
                        <tr><td>45</td><td>RAJASTHAN</td><td>JALORE</td><td>805</td></tr>
                        <tr><td>46</td><td>RAJASTHAN</td><td>JHALAWAR</td><td>1615</td></tr>
                        <tr><td>47</td><td>RAJASTHAN</td><td>JHUNJHUNU</td><td>945</td></tr>
                        <tr><td>48</td><td>RAJASTHAN</td><td>JODHPUR</td><td>1846</td></tr>
                        <tr><td>49</td><td>RAJASTHAN</td><td>KARAULI</td><td>892</td></tr>
                        <tr><td>50</td><td>RAJASTHAN</td><td>KOTA</td><td>885</td></tr>
                        <tr><td>51</td><td>RAJASTHAN</td><td>NAGAUR</td><td>1608</td></tr>
                        <tr><td>52</td><td>RAJASTHAN</td><td>PALI</td><td>1041</td></tr>
                        <tr><td>53</td><td>RAJASTHAN</td><td>PRATAPGARH</td><td>1006</td></tr>
                        <tr><td>54</td><td>RAJASTHAN</td><td>RAJSAMAND</td><td>1059</td></tr>
                        <tr><td>55</td><td>RAJASTHAN</td><td>SAWAI MADHOPUR</td><td>818</td></tr>
                        <tr><td>56</td><td>RAJASTHAN</td><td>SIKAR</td><td>1184</td></tr>
                        <tr><td>57</td><td>RAJASTHAN</td><td>SIROHI</td><td>487</td></tr>
                        <tr><td>58</td><td>RAJASTHAN</td><td>TONK</td><td>1192</td></tr>
                        <tr><td>59</td><td>RAJASTHAN</td><td>UDAIPUR</td><td>2496</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                