<div class="row">

    <!-- Form -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong>Edit Language</strong><small> Form</small></div>



            <form [formGroup]="updateLanguageForm" (ngSubmit)="submitForm()" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group mb-0">
                                <label>Language <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="language" class="form-control" [ngClass]="{'is-invalid': updateLanguageForm.get('language').touched && updateLanguageForm.get('language').invalid}" (change)="trimValue(this.updateLanguageForm.get('language'))">

                                <div class="invalid-feedback">
                                    <div>Language is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/farmer/language']">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>