<div class="row">

    <!-- Form -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong>Edit Plant Part</strong><small> Form</small></div>
            <div class="card-body">

                <form [formGroup]="updatePlantPartForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Plant Part Name <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': updatePlantPartForm.get('name').touched && updatePlantPartForm.get('name').invalid}" (change)="trimValue(this.updatePlantPartForm.get('name'))">

                                <div class="invalid-feedback">
                                    <div>Plant Part Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/commodity/plant-part']">Cancel</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>