#divChart {
  //display: block;
  //width: 100%;
  //height: 500px;
}

.mat-form-field {
  width: 100% !important;
}

.mat-button {
  width: 100% !important;
  //color: #20a8d8;
  background-color: #20a8d8;
}

.card-title-custom {
  text-align: center;
  color: #2842d2;
  padding: 10px 15px;
  background-color: #ededed;
}



.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: #ffffff;
}
