.card-body {
    flex: 1 1 auto;
    padding: 1.1rem;
}

.brand-card {
    margin-bottom: 0rem;
}

.chartjs-render-monitor {
    height: 300px!important;
}

.modal .chartjs-render-monitor {
    height: auto!important;
}

.card {
    margin-bottom: 1rem;
}

.top-card {
    margin-top: -10px;
}

.brand-card-header {
    height: 4rem;
}

.brand-card h1 {
    font-size: 2 rem;
}

.brand-card-footer button {
    font-weight: bold;
}