<div class="success-modal">
<div class="modal-header sucess-message">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span><img src="../../../assets/img/close-icon.svg"></span>
  </button> -->
</div>
<div class="modal-body">
    <h4 class="popup-msg">{{content}}</h4>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-primary" routerLink="{{action}}" (click)="close()">Ok</button>
</div>
</div>