<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>API Structure</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


<style>
starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: #201f1f;
  color: #ffffff;
}

.primary-bg-color {
  background-color: #ffd866 !important;
}

.primary-bg-color * {
  color: #000000 !important;
}

.primary-color {
  color: #ffd866;
}

.vtext {
  height: max-content;
}
.alert {
    position: relative;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 0px;
}
</style>
<body>

	<nav class="navbar navbar-expand-lg primary-bg-color ">
		<a class="navbar-brand" href="#">CropData</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">API
						Gateway<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Discovery
						Server</a></li>
		</div>
	</nav>
<br>
	<div class="alert primary-bg-color" role="alert">
		<h5 style="margin-top: 8px;">Java Services</h5>
	</div>

	<table class="table table-hover table-bordered table-sm">
		<thead class="thead-dark">

			<tr class="text-center">
				<th scope="col">#</th>
				<th scope="col">SERVICE-ID</th>
				<th scope="col">HOST</th>
				<th scope="col">PORT</th>
				<th scope="col">INSTANCE-ID</th>
				<th scope="col">URI</th>
				<th scope="col">SERVICE-URI</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="api : ${java}">
				<th scope="row" th:text="${apiStat.index}" class="text-center">1</th>
				<td th:utext="${api.serviceId}">@mdo</td>
				<td th:utext="${api.host}"></td>
				<td th:utext="${api.port}">Otto</td>
				<td th:utext="${api.instanceId}">@mdo</td>
				<td th:utext="${api.uri}">@mdo</td>
				<td th:utext="${api.serviceUrl}">@mdo</td>
				<!--    <td th:utext="${api.metadata}">@mdo</td> -->
			</tr>
		</tbody>
	</table>
	<div class="alert primary-bg-color" role="alert">
		<h5 style="margin-top: 8px;">Python Services</h5>
	</div>
	<table class="table table-hover table-bordered table-sm">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col">#</th>
				<th scope="col">SERVICE-ID</th>
				<th scope="col">HOST</th>
				<th scope="col">PORT</th>
				<th scope="col">INSTANCE-ID</th>
				<th scope="col">URI</th>
				<th scope="col">SERVICE-URI</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="api : ${python}">
				<th scope="row" th:text="${apiStat.index}" class="text-center">1</th>
				<td th:utext="${api.serviceId}">@mdo</td>
				<td th:utext="${api.host}"></td>
				<td th:utext="${api.port}">Otto</td>
				<td th:utext="${api.instanceId}">@mdo</td>
				<td th:utext="${api.uri}">@mdo</td>
				<td th:utext="${api.serviceUrl}">@mdo</td>
				<!--    <td th:utext="${api.metadata}">@mdo</td> -->
			</tr>
		</tbody>
	</table>
	<div class="alert primary-bg-color" role="alert">
		<h5 style="margin-top: 8px;">UI Services</h5>
	</div>
	<table class="table table-hover table-bordered table-sm">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col">#</th>
				<th scope="col">SERVICE-ID</th>
				<th scope="col">HOST</th>
				<th scope="col">PORT</th>
				<th scope="col">INSTANCE-ID</th>
				<th scope="col">URI</th>
				<th scope="col">SERVICE-URI</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="api : ${ui}">
				<th scope="row" th:text="${apiStat.index}" class="text-center">1</th>
				<td th:utext="${api.serviceId}">@mdo</td>
				<td th:utext="${api.host}"></td>
				<td th:utext="${api.port}">Otto</td>
				<td th:utext="${api.instanceId}">@mdo</td>
				<td th:utext="${api.uri}">@mdo</td>
				<td th:utext="${api.serviceUrl}">@mdo</td>
				<!--    <td th:utext="${api.metadata}">@mdo</td> -->
			</tr>
		</tbody>
	</table>
	<div class="alert primary-bg-color" role="alert">
		<h5 style="margin-top: 8px;">Other Services</h5>
	</div>
	<table class="table table-hover table-bordered table-sm">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col">#</th>
				<th scope="col">SERVICE-ID</th>
				<th scope="col">HOST</th>
				<th scope="col">PORT</th>
				<th scope="col">INSTANCE-ID</th>
				<th scope="col">URI</th>
				<th scope="col">SERVICE-URI</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="api : ${others}">
				<th scope="row" th:text="${apiStat.index}" class="text-center">1</th>
				<td th:utext="${api.serviceId}">@mdo</td>
				<td th:utext="${api.host}"></td>
				<td th:utext="${api.port}">Otto</td>
				<td th:utext="${api.instanceId}">@mdo</td>
				<td th:utext="${api.uri}">@mdo</td>
				<td th:utext="${api.serviceUrl}">@mdo</td>
				<!--    <td th:utext="${api.metadata}">@mdo</td> -->
			</tr>
		</tbody>
	</table>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>
