<div class="animated fadeIn">

    <div class="card m-0">
        <div class="card-body row pb-0">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Leads Collected</div>
                    <div class="card-body">
                        <div class="text-value">2,63,091</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Crop Area Collected</div>
                    <div class="card-body">
                        <div class="text-value">7,87,418 <span>(Acres)</span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Verified Leads</div>
                    <div class="card-body">
                        <div class="text-value">2,42,981</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Verified Crop Area</div>
                    <div class="card-body">
                        <div class="text-value">5,27,504 <span>(Acres)</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-0">
        <div class="card-body row pb-0">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">States</div>
                    <div class="card-body">
                        <div class="text-value">7</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Regions Onboarded</div>
                    <div class="card-body">
                        <div class="text-value">11 / 25</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Districts</div>
                    <div class="card-body">
                        <div class="text-value">11</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Villages</div>
                    <div class="card-body">
                        <div class="text-value">271 / 8258</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card m-0">
        <div class="card-body row pb-0">

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Commodities</div>
                    <div class="card-body">
                        <div class="text-value">21 / 150</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Varieties</div>
                    <div class="card-body">
                        <div class="text-value">1238</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Stresses</div>
                    <div class="card-body">
                        <div class="text-value">9 / 470</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Phenophases</div>
                    <div class="card-body">
                        <div class="text-value">45</div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Stress Images</div>
                    <div class="card-body">
                        <div class="text-value">2529</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Health Images</div>
                    <div class="card-body">
                        <div class="text-value">2529</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Spectral Data (Tile / Week)</div>
                    <div class="card-body">
                        <div class="text-value">11 / 9</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Agrochemical</div>
                    <div class="card-body">
                        <div class="text-value">120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-0">
        <div class="card-body row pb-0">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Weather Parameters</div>
                    <div class="card-body">
                        <div class="text-value">14</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Warehouses Onboarded</div>
                    <div class="card-body">
                        <div class="text-value">11</div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-header text-name">Employees Onboarded</div>
                    <div class="card-body">
                        <div class="text-value">172</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>