
.table {
  // &.table-sm{
  // th,
  // td {
  // width: 300px;
  // }
  // }
  
  &.table-bordered {
  .thead-light {
  th {
  max-width: 600px;
  min-width: initial !important;
  vertical-align: top;
  width: 342px;
  white-space: nowrap;
  
  &:first-of-type,
  &:nth-of-type(2) {
  width: 50px !important;
  max-width: 90px !important;
  min-width: initial !important;
  }
  
  &:last-of-type {
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  text-align: center !important;
  }
  }
  }
  td {
  max-width: 600px;
  min-width: initial !important;
  width: 342px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  &:first-of-type,
  &:nth-of-type(2) {
  width: 50px;
  max-width: 90px;
  min-width: initial !important;
  }
  
  &:last-of-type {
  width: 200px !important;
  text-align: center !important;
  
  .btn {
  color: #ffffff;
  }
  }
  }
  }
  }
  
  table {
  &.table-bordered {
  .thead-light {
  td,
  th {
  white-space: nowrap;
  }
  
  tr td:last-child,
  tr th:last-child {
  width: 1% !important;
  white-space: nowrap;
  }
  }
  }
  }