<div class="login-wrapper">
    <div class="left-panel">
        <div class="logo">
            <img class="img-responsive" src="../../../../../assets/img/logo.png" alt="Logo">
        </div>
    </div>
    <div class="right-panel">
        <div class="invalid-attempt" *ngIf="showMyContainer">
            <span class="close-icon" (click)="showMyContainer=!showMyContainer">
                <img class="img-responsive" src="../../../../../assets/img/error-close.svg" alt="Error Close">
            </span>
            <span>
                {{ forgotErrroMessage }}
            </span>
        </div>

        <div class="login-form forgot-password">

            <h1>Forgot Your Password,</h1>
            <h3>We will help you reset it</h3>
            <div class="form-area">
                <form [formGroup]="forogotpasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="control-label">Mobile Number</label>
                        <input type="text" [(ngModel)]="mobileNumber" maxlength="10" formControlName="mobilenumber" class="form-control" placeholder="Enter mobile number" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }"
                        />
                        <div *ngIf="submitted && f.mobilenumber.errors">
                            <div class="error-message" *ngIf="f.mobilenumber.errors.required">{{textboxerrormessage}}</div>
                            <div class="error-message" *ngIf="f.mobilenumber.errors.pattern  || f.mobilenumber.errors.minlength">{{invalidvalueerrormessage}}</div>
                        </div>
                    </div>
                    <div class="clearfix form-bottom text-center page-action">
                        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>