<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong>Edit Seed Treatment Agent</strong><small> Form</small></div>


                <form [formGroup]="updateSeedTreatmentForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Commodity <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="commodityId" class="form-control" [ngClass]="{'is-invalid': updateSeedTreatmentForm.get('commodityId').touched && updateSeedTreatmentForm.get('commodityId').invalid}" (change)="getVarietyByCommodity()">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let commodity of CommodityList" value={{commodity.id}}>
                                        {{commodity.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Commodity</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Variety <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="varietyId" class="form-control" [ngClass]="{'is-invalid': updateSeedTreatmentForm.get('varietyId').touched && updateSeedTreatmentForm.get('varietyId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let variety of VarietyList" value={{variety.id}}>
                                        {{variety.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Variety</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Seed Treatment Agent Name <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': updateSeedTreatmentForm.get('name').touched && updateSeedTreatmentForm.get('name').invalid}" (change)="trimValue(this.updateSeedTreatmentForm.get('name'))">
                                <div class="invalid-feedback">
                                    <div>Seed Treatment Agent Name is required</div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Dose <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="dose" class="form-control" [ngClass]="{'is-invalid': updateSeedTreatmentForm.get('dose').touched && updateSeedTreatmentForm.get('dose').invalid}">
                                <div class="invalid-feedback">
                                    <div>Dose is required and it must be Numeric Only</div>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-12 mb-0">
                                <label>UOM <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="uomId" class="form-control" [ngClass]="{'is-invalid': updateSeedTreatmentForm.get('uomId').touched && updateSeedTreatmentForm.get('uomId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let uom of UomList" value={{uom.id}}>
                                        {{uom.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select UOM</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Update </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/stress/seed-treatment']">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>