<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong>Add Panchayat</strong><small> Form</small></div>


                <form [formGroup]="panchayatForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>State <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="stateCode" class="form-control" (change)="loadAllDistrictsByState($event)" [ngClass]="{'is-invalid': panchayatForm.get('stateCode').touched && panchayatForm.get('stateCode').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let state of StateList" value={{state.stateCode}}>
                                        {{state.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select State</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>District <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="districtCode" class="form-control" (change)="loadAllTehsilByDistrict($event)" [ngClass]="{'is-invalid': panchayatForm.get('districtCode').touched && panchayatForm.get('districtCode').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let district of DistrictList" value={{district.districtCode}}>
                                        {{district.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select District</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Tehsil <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="tehsilCode" class="form-control" [ngClass]="{'is-invalid': panchayatForm.get('tehsilCode').touched && panchayatForm.get('tehsilCode').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let tehsil of TehsilList" value={{tehsil.tehsilCode}}>
                                        {{tehsil.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Tehsil</div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Panchayat Code <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="number" class="form-control" formControlName="panchayatCode" [ngClass]="{'is-invalid': panchayatForm.get('panchayatCode').touched && panchayatForm.get('panchayatCode').invalid}">
                                <div class="invalid-feedback">
                                    <div>PanchayatCode is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 mb-0">
                                <label>Panchayat Name <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': panchayatForm.get('name').touched && panchayatForm.get('name').invalid}" (change)="trimValue(this.panchayatForm.get('name'))">
                                <div class="invalid-feedback">
                                    <div>Panchayat Name is required</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Submit </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/geo/panchayat']">Cancel</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>