<div class="app-body app-login">
  <main class="main d-flex align-items-center">
    <div class="container-fluid w-100 p-0" style="max-width: 100%; height: 100vh;">
      <div class="row no-gutters">
        
        <div class="col-md-6 mx-auto" style=" height: 100vh;">
          <div class="portal-logo text-center">
            <a href="http://cropdata.in" target="_blank">
              <img src="../../../assets/img/brand/cropdata-logo-white.svg" class="img-fluid">              
            </a>
            <h3>CropData Master Portal</h3>
          </div>
        </div>

        <div class="col-md-6 login-left-side mx-auto" style=" height: 100vh;">
          <div class="card-group">
            <div class="card login p-4">
              <div class="card-body">
                <form>
                  <h1>Forgot Password</h1>
                  <p class="text-muted">Try to remember the password or reset</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-envelope-o"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" required>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-between align-self-center">
                      <button type="button" class="btn btn-primary px-4">Send</button>                      
                    
                      <a class="btn-link mt-1" [routerLink]="['/login']">Back to login?</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </main>
</div>