<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> All Fertilizer(RDF)
                            <div class="card-header-actions">
                                <button class="btn btn-primary btn-sm move-right" [routerLink]="['/zonal/fertilizer/fertilizer-add/']"> Add
                  Fertilizer(RDF)</button>
                                <button class="btn btn-primary btn-sm move-right" (click)="onClickMissing()"> Missing </button>
                                <button class="btn btn-danger btn-sm move-right" (click)="fixBug()"><i class="fa fa-bug" aria-hidden="true"></i> Fix Bugs</button>
                                <button class="btn btn-primary btn-sm move-right" data-toggle="modal" data-target="#filterModal" (click)="onClickFilter()"> Filters </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="input-group mb-3 col-lg-8 col-md-8 p-0">
                                        <input type="text" class="form-control" placeholder="Search here...  " [(ngModel)]="searchText">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" (click)="searchFertilizer()">Search</button>
                                            <button class="btn btn-danger" type="button" (click)="searchText='';searchFertilizer()">Clear</button>
                                        </div>
                                    </div>

                                    <div class="btn-group action-buttons col-lg-4 col-md-4">
                                        <button class="btn btn-success approve" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Approved','zonal_fertilizer')">Approve All</button>
                                        <button class="btn btn-danger reject" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Rejected','zonal_fertilizer')">Reject All</button>
                                        <button class="btn btn-primary finalise" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Active','zonal_fertilizer')">Finalize All</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm" matSort (matSortChange)="sortData($event)">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20px;">
                                            <label class="pure-material-checkbox">
                                                <input type="checkbox" (change)="bulkDatas.checkAll($event)" id="masterChkBox">
                                          <span></span>
                                      </label>
                                        </th>
                                        <th style="width: 20px;" mat-sort-header="id">ID</th>
                                        <th class="text-left" mat-sort-header="state">State</th>
                                        <th class="text-left" mat-sort-header="aczName">ACZ</th>
                                        <th class="text-left" mat-sort-header="zonalCommodity">Zonal Commodity</th>
                                        <th class="text-left" mat-sort-header="doseFactor">Dose Factor</th>
                                        <th class="text-left" mat-sort-header="name">Fertilizer</th>
                                        <th class="text-left" mat-sort-header="dose">Dose</th>
                                        <th class="text-left" mat-sort-header="uom">UOM</th>
                                        <th class="text-left" mat-sort-header="note">Note</th>
                                        <th style="width: 120px;" class="text-center" mat-sort-header="status">Status</th>
                                        <th style="width: 150px;" *ngIf="missing==0">Action</th>
                                        <th style="width: 80px !important; min-width: 80px !important;" *ngIf="missing==1">Action</th>
                                    </tr>
                                </thead>


                                <tbody *ngIf="pageFertilizer?.content">
                                    <tr *ngFor="let fertilizer of pageFertilizer.content | searchFilter :searchText:['state','aczName','zonalCommodity','doseFactor','commodity','name','dose','uom','note','status']">
                                        <div title="{{fertilizer.errorMessage}}" class="{{fertilizer.isValid ? '': 'IsInValid'}}">

                                            <!-- <tbody>
                  <tr *ngFor="let fertilizer of FertilizerList"> -->
                                            <td><label class="pure-material-checkbox">
                      <input type="checkbox" (change)="bulkDatas.checked($event)" value="{{fertilizer.id}}">
                      <span></span>
                  </label></td>
                                            <td scope="row">{{fertilizer.id}}</td>
                                            <td class="text-left">{{fertilizer.state |titlecase}}</td>
                                            <td class="text-left">{{fertilizer.aczName |titlecase}}</td>
                                            <td class="text-left"><b>Commodity : </b>{{fertilizer.zonalCommodity |titlecase}}<br>
                                                <b>Sowing Week Start : </b>{{fertilizer.sowingWeekStart}}
                                                <br> <b>Sowing Week End : </b>{{fertilizer.sowingWeekEnd}}</td>
                                            <td class="text-left">{{fertilizer.doseFactor}}</td>
                                            <td class="text-left">{{fertilizer.name |titlecase}}</td>
                                            <td class="text-left">{{fertilizer.dose}}</td>
                                            <td class="text-left">{{fertilizer.uom}}</td>
                                            <td class="text-left">{{fertilizer.note}}</td>
                                            <td style="width: 120px;" class="text-center">
                                                <span style="width: 100px;" class="{{fertilizer.status =='Inactive'?'badge badge-secondary':fertilizer.status =='Approved'?'badge badge-success':fertilizer.status =='Active'?'badge badge-primary':'badge badge-danger'}}">{{fertilizer.status}}</span>
                                            </td>
                                            <td *ngIf="missing==0">
                                                <!-- <button type="button" class="btn btn-success btn-sm move-right"
                      [routerLink]="['/agri/fertilizer-edit/', fertilizer.id]">Edit</button> -->

                                                <button type="button" class="btn btn-info btn-sm move-right" title="Edit" [routerLink]="['/zonal/fertilizer/fertilizer-edit/', fertilizer.id]" *ngIf="userRightsService.canEdit()"><i
                            class="fa fa-pencil-square-o"></i></button>
                                                <button type="button" class="btn btn-success btn-sm move-right" title="Approve" [disabled]="fertilizer.status == fertilizerStatus.APPROVED_STATUS||fertilizer.status == fertilizerStatus.ACTIVE_STATUS" (click)="approve(fertilizer,i)" *ngIf="userRightsService.canPrimaryApprove()"><i
                            class="fa fa-get-pocket"></i></button>
                                                <button type="button" class="btn btn-primary btn-sm move-right" title="{{fertilizer.status == fertilizerStatus.INACTIVE_STATUS || fertilizer.status == fertilizerStatus.REJECTED_STATUS?fertilizerStatus.CAN_NOT_FINALIZE:'Finalize'}}" [disabled]="fertilizer.status == fertilizerStatus.ACTIVE_STATUS || fertilizer.status == fertilizerStatus.INACTIVE_STATUS || fertilizer.status == fertilizerStatus.REJECTED_STATUS"
                                                    (click)="finalize(fertilizer,i)" *ngIf="userRightsService.canFinalize()"><i
                            class="fa  fa-thumbs-up"></i></button>
                                                <button type="button" class="btn btn-danger btn-sm move-right" title="Reject" [disabled]="fertilizer.status == fertilizerStatus.REJECTED_STATUS" (click)="reject(fertilizer,i)" *ngIf="userRightsService.canReject()"><i
                            class="fa fa-close"></i></button>
                                                <button type="button" class="btn btn-danger btn-sm move-right" title="Delete" [disabled]="fertilizer.status == fertilizerStatus.DELETED_STATUS" (click)="delete(fertilizer,i)" *ngIf="userRightsService.canDelete()"><i
                            class="fa fa-close"></i></button>

                                            </td>
                                            <td *ngIf="missing==1" style="width: 80px !important;">
                                                <button type="button" class="btn btn-info btn-sm move-right" title="Move To Master" (click)="moveToMaster(fertilizer.id)" *ngIf="userRightsService.canMoveToMaster()"><i class="fa fa-arrow-right"></i></button>
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="pageFertilizer.content.length == 0">
                                    <td colspan="12" class="text-left">Data Not Found..!!</td>
                                </tbody>
                            </table>

                            <div class="row justify-content-between m-0">
                                <div class="col-xs-9 col-9 text-center p-0" *ngIf="pageFertilizer?.content">
                                    <pagination [totalItems]="pageFertilizer.totalElements" [(ngModel)]="selectedPage" [maxSize]="maxSize" class="pagination-md" previousText="&lsaquo; Prev" nextText="Next &rsaquo;" firstText="&laquo; First" lastText="Last &raquo; " [boundaryLinks]="true"
                                        [itemsPerPage]="pageFertilizer.size" [rotate]="false" (numPages)="numPages = $event;" (pageChanged)="onSelect($event.page-1)">
                                    </pagination>
                                </div>
                                <div class="row col-xs-3 col-3 m-0" *ngIf="pageFertilizer?.content">
                                    <div class="col text-right p-0">
                                        <label class="text-right">Records per page</label>
                                        <select class="p-0" (change)="loadData($event)">
                                        <option value="10" selected>10</option>
                                        <option *ngFor="let items of records" value="{{items}}">{{items}}</option>
                                    </select> &nbsp;
                                        <label class="text-center">Page {{selectedPage}} of
                                        {{pageFertilizer.totalPages}}</label>
                                    </div>
                                </div>
                            </div>

                            <!-- <nav aria-label="...">
                <ul style="margin-left: 0px;margin-top:-10px;" class="pagination" *ngIf="pageFertilizer?.content">
                  <li *ngFor="let page of ' '.repeat(pageFertilizer.totalPages).split(''), let i = index "
                    (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a
                      class="page-link">{{i+1}}</a></li>
                </ul>
              </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Multiple Search Filters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>

            <form [formGroup]="filterFG" (ngSubmit)="submitForm()" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <label>Select Search Fields </label></div>
                            <label class="col-sm-6 col-md-6 col-lg-6" *ngFor="let searchField of searchFieldList">
                                <input type="checkbox" [checked]="getSelection(searchField)" (change)="changeHandler(searchField, $event)">
                                <label>{{searchField.name}}</label>
                            </label>
                        </div>
                    </div>
                    <div class="row" [hidden]="isStateHidden">
                        <div class="form-group col-sm-12">
                            <label>State </label>
                            <select formControlName="stateCode" class="form-control" (change)="onChangeList()" [ngClass]="{'is-invalid': filterFG.get('stateCode').touched && filterFG.get('stateCode').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let state of stateList" value={{state.stateCode}}>
                                    {{state.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" [hidden]="isSeasonHidden">
                        <div class="form-group col-sm-12">
                            <label>Season </label>
                            <select formControlName="seasonId" class="form-control" (change)="onChangeList()" [ngClass]="{'is-invalid': filterFG.get('seasonId').touched && filterFG.get('seasonId').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let season of seasonList" value="{{season.id}}">
                                    {{season.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row" [hidden]="isDoseFactorHidden">
                        <div class="form-group col-sm-12">
                            <label>Dose Factor </label>
                            <select formControlName="doseFactorId" class="form-control" (change)="onChangeList()" [ngClass]="{'is-invalid': filterFG.get('doseFactorId').touched && filterFG.get('doseFactorId').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let doseFactor of doseFactorList" value={{doseFactor.id}}>
                                    {{doseFactor.doseFactor}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row" [hidden]="isCommodityHidden">
                        <div class="form-group col-sm-12">
                            <label>Commodity </label>
                            <select formControlName="commodityId" class="form-control" (change)="onChangeList()" [ngClass]="{'is-invalid': filterFG.get('commodityId').touched && filterFG.get('commodityId').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let   commodity  of commodityList" value={{commodity.id}}>
                                    {{commodity.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row" [hidden]="isFertilizerHidden">
                        <div class="form-group col-sm-12">
                            <label>Fertilizer </label>
                            <select formControlName="name" class="form-control" (change)="onChangeList()" [ngClass]="{'is-invalid': filterFG.get('name').touched && filterFG.get('name').invalid}">
                                <option value="">--Select--</option>
                                <option *ngFor="let   name  of fertilizerList" value={{name}}>
                                    {{name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row " style="align-content: center">
                    </div>
                </div>
                <div class="card-footer ">
                    <button class="btn btn-sm btn-primary " type="submit"> Search </button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" (click)="onClose()">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>


<app-info-modal #infoModal></app-info-modal>
<app-confirmation-madal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-madal>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>