<section class="maintanence">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div class="d-flex align-items-center justify-content-center height">
                    <div>
                        <img src="../../assets/caution.png" alt="caution">
                        <h2 class="mt-5 mb-0">Web Site Currently</h2>
                        <h1>Under Maintenance</h1>
                        <span class="mt-4 d-inline-block" type="button">Come back Soon</span>
                        <p class="mt-5"><b>master.cropdatadev.tk</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>