<div id="ui-view">
    <div>
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
  
              <div class="card-header">
                <i class="fa fa-align-justify"></i>LUC
              </div>
  
              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead class="thead-light">
                        <tr><th>ID</th><th>State</th><th>District</th><th>Total Geographical Area (Ha.)</th><th>Net Area Sown (Ha.)</th><th>Gross Cropped Area (Ha.)</th><tr>
                    </thead>
                    <tbody>        
                        <tr><td>1</td><td>GUJARAT</td><td>AHMADABAD</td><td>764100</td><td>563700</td><td>641000</td><tr>
                        <tr><td>2</td><td>GUJARAT</td><td>AMRELI</td><td>703200</td><td>560000</td><td>632800</td><tr>
                        <tr><td>3</td><td>GUJARAT</td><td>ANAND</td><td>294700</td><td>197100</td><td>305700</td><tr>
                        <tr><td>4</td><td>GUJARAT</td><td>BANAS KANTHA</td><td>934100</td><td>747100</td><td>1032100</td><tr>
                        <tr><td>5</td><td>GUJARAT</td><td>BHARUCH</td><td>500100</td><td>318400</td><td>343800</td><tr>
                        <tr><td>6</td><td>GUJARAT</td><td>BHAVNAGAR</td><td>831100</td><td>541400</td><td>686800</td><tr>
                        <tr><td>7</td><td>GUJARAT</td><td>DANG</td><td>68400</td><td>55800</td><td>58200</td><tr>
                        <tr><td>8</td><td>GUJARAT</td><td>DOHAD</td><td>282800</td><td>217700</td><td>339200</td><tr>
                        <tr><td>9</td><td>GUJARAT</td><td>GANDHINAGAR</td><td>213800</td><td>168500</td><td>216000</td><tr>
                        <tr><td>10</td><td>GUJARAT</td><td>JAMNAGAR</td><td>974800</td><td>616400</td><td>754800</td><tr>
                        <tr><td>11</td><td>GUJARAT</td><td>JUNAGADH</td><td>704200</td><td>544300</td><td>796300</td><tr>
                        <tr><td>12</td><td>GUJARAT</td><td>KACHCHH</td><td>4258400</td><td>641300</td><td>703800</td><tr>
                        <tr><td>13</td><td>GUJARAT</td><td>KHEDA</td><td>384800</td><td>313000</td><td>425500</td><tr>
                        <tr><td>14</td><td>GUJARAT</td><td>MAHESANA</td><td>433000</td><td>358100</td><td>468400</td><tr>
                        <tr><td>15</td><td>GUJARAT</td><td>NARMADA</td><td>165300</td><td>109900</td><td>113800</td><tr>
                        <tr><td>16</td><td>GUJARAT</td><td>NAVSARI</td><td>192300</td><td>137100</td><td>161800</td><tr>
                        <tr><td>17</td><td>GUJARAT</td><td>PANCH MAHALS</td><td>396800</td><td>280700</td><td>316100</td><tr>
                        <tr><td>18</td><td>GUJARAT</td><td>PATAN</td><td>520200</td><td>391000</td><td>486500</td><tr>
                        <tr><td>19</td><td>GUJARAT</td><td>PORBANDAR</td><td>205100</td><td>137100</td><td>168900</td><tr>
                        <tr><td>20</td><td>GUJARAT</td><td>RAJKOT</td><td>1070600</td><td>767700</td><td>888800</td><tr>
                        <tr><td>21</td><td>GUJARAT</td><td>SABAR KANTHA</td><td>603400</td><td>458200</td><td>616400</td><tr>
                        <tr><td>22</td><td>GUJARAT</td><td>SURAT</td><td>393500</td><td>286000</td><td>303600</td><tr>
                        <tr><td>23</td><td>GUJARAT</td><td>SURENDRANAGAR</td><td>993200</td><td>709100</td><td>845400</td><tr>
                        <tr><td>24</td><td>GUJARAT</td><td>TAPI</td><td>269800</td><td>162400</td><td>191400</td><tr>
                        <tr><td>25</td><td>GUJARAT</td><td>VADODARA</td><td>673400</td><td>526100</td><td>554000</td><tr>
                        <tr><td>26</td><td>GUJARAT</td><td>VALSAD</td><td>200900</td><td>157700</td><td>160300</td><tr>
                        <tr><td>27</td><td>RAJASTHAN</td><td>AJMER</td><td>842994</td><td>450291</td><td>717927</td><tr>
                        <tr><td>28</td><td>RAJASTHAN</td><td>ALWAR</td><td>783281</td><td>492377</td><td>870675</td><tr>
                        <tr><td>29</td><td>RAJASTHAN</td><td>BANSWARA</td><td>453587</td><td>228659</td><td>343121</td><tr>
                        <tr><td>30</td><td>RAJASTHAN</td><td>BARAN</td><td>699461</td><td>347985</td><td>663288</td><tr>
                        <tr><td>31</td><td>RAJASTHAN</td><td>BARMER</td><td>2817424</td><td>1671041</td><td>1893136</td><tr>
                        <tr><td>32</td><td>RAJASTHAN</td><td>BHARATPUR</td><td>506731</td><td>392546</td><td>606309</td><tr>
                        <tr><td>33</td><td>RAJASTHAN</td><td>BHILWARA</td><td>1050885</td><td>443312</td><td>677438</td><tr>
                        <tr><td>34</td><td>RAJASTHAN</td><td>BIKANER</td><td>3041753</td><td>1635837</td><td>2026119</td><tr>
                        <tr><td>35</td><td>RAJASTHAN</td><td>BUNDI</td><td>581938</td><td>267927</td><td>495946</td><tr>
                        <tr><td>36</td><td>RAJASTHAN</td><td>CHITTORGARH</td><td>750773</td><td>326454</td><td>576370</td><tr>
                        <tr><td>37</td><td>RAJASTHAN</td><td>CHURU</td><td>1385905</td><td>1151224</td><td>1470905</td><tr>
                        <tr><td>38</td><td>RAJASTHAN</td><td>DAUSA</td><td>341428</td><td>227823</td><td>377386</td><tr>
                        <tr><td>39</td><td>RAJASTHAN</td><td>DHOLPUR</td><td>300913</td><td>154083</td><td>230355</td><tr>
                        <tr><td>40</td><td>RAJASTHAN</td><td>DUNGARPUR</td><td>385674</td><td>134520</td><td>195932</td><tr>
                        <tr><td>41</td><td>RAJASTHAN</td><td>GANGANAGAR</td><td>1093290</td><td>770134</td><td>1206857</td><tr>
                        <tr><td>42</td><td>RAJASTHAN</td><td>HANUMANGARH</td><td>970379</td><td>844061</td><td>1291650</td><tr>
                        <tr><td>43</td><td>RAJASTHAN</td><td>JAIPUR</td><td>1105519</td><td>656217</td><td>1036402</td><tr>
                        <tr><td>44</td><td>RAJASTHAN</td><td>JAISALMER</td><td>3839154</td><td>828689</td><td>1084083</td><tr>
                        <tr><td>45</td><td>RAJASTHAN</td><td>JALORE</td><td>1056611</td><td>668028</td><td>948520</td><tr>
                        <tr><td>46</td><td>RAJASTHAN</td><td>JHALAWAR</td><td>632235</td><td>337992</td><td>642810</td><tr>
                        <tr><td>47</td><td>RAJASTHAN</td><td>JHUNJHUNU</td><td>591536</td><td>400482</td><td>627519</td><tr>
                        <tr><td>48</td><td>RAJASTHAN</td><td>JODHPUR</td><td>2256405</td><td>1395973</td><td>1787733</td><tr>
                        <tr><td>49</td><td>RAJASTHAN</td><td>KARAULI</td><td>504302</td><td>199468</td><td>332222</td><tr>
                        <tr><td>50</td><td>RAJASTHAN</td><td>KOTA</td><td>518345</td><td>272101</td><td>513676</td><tr>
                        <tr><td>51</td><td>RAJASTHAN</td><td>NAGAUR</td><td>1774938</td><td>1257139</td><td>1650700</td><tr>
                        <tr><td>52</td><td>RAJASTHAN</td><td>PALI</td><td>1233079</td><td>643514</td><td>894417</td><tr>
                        <tr><td>53</td><td>RAJASTHAN</td><td>PRATAPGARH</td><td>411736</td><td>184066</td><td>305396</td><tr>
                        <tr><td>54</td><td>RAJASTHAN</td><td>RAJSAMAND</td><td>452726</td><td>96129</td><td>141930</td><tr>
                        <tr><td>55</td><td>RAJASTHAN</td><td>SAWAI MADHOPUR</td><td>497145</td><td>289430</td><td>426331</td><tr>
                        <tr><td>56</td><td>RAJASTHAN</td><td>SIKAR</td><td>774244</td><td>508182</td><td>716360</td><tr>
                        <tr><td>57</td><td>RAJASTHAN</td><td>SIROHI</td><td>517947</td><td>163915</td><td>226556</td><tr>
                        <tr><td>58</td><td>RAJASTHAN</td><td>TONK</td><td>717958</td><td>483996</td><td>703193</td><tr>
                        <tr><td>59</td><td>RAJASTHAN</td><td>UDAIPUR</td><td>1388255</td><td>245146</td><td>354535</td><tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                