<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> All Source's List
                            <div class="card-header-actions">
                                <button class="btn btn-primary btn-sm move-right" [routerLink]="['/cluster/add-source/']"> Add Source</button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3  col-lg-12 col-md-12 p-0">
                                <input type="text" class="form-control" placeholder="Search here...  " [(ngModel)]="searchText">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="searchNews()">Search</button>
                                    <button class="btn btn-danger" type="button" (click)="searchText='';searchNews()">Clear</button>
                                </div>
                            </div>
                            <table class="table table-responsive-sm table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20px;">ID</th>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Address</th>
                                        <th class="text-left">HeadQuarter</th>
                                        <th class="text-left">Country</th>
                                        <th class="text-left">State</th>
                                        <th class="text-left">Description</th>
                                        <th style="width: 150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="sourceList?.content">
                                    <tr *ngFor="let source of sourceList.content | searchFilter :searchText:['name','address','headquarter','stateName']">
                                        <td scope="row">{{source.id}}</td>
                                        <td class="text-left">{{source.name}}</td>
                                        <td class="text-left">{{source.address}}</td>
                                        <td class="text-left">{{source.headquarter}}</td>
                                        <td class="text-left">{{source.countryName}}</td>
                                        <td class="text-left">{{source.stateName}}</td>
                                        <td class="text-left">{{source.description}}</td>
                                        <td>

                                            <button type="button" class="btn btn-info btn-sm move-right" title="Edit" [routerLink]="['/cluster/edit-source/', source.id]" *ngIf="userRightsService.canEdit()"><i
                                                class="fa fa-pencil-square-o"></i></button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="col-xs-12 col-12 text-center p-0" *ngIf="sourceList?.content">
                                <pagination [totalItems]="sourceList.totalElements" [(ngModel)]="selectedPage" [maxSize]="size" class="pagination-md" previousText="&lsaquo; Prev" nextText="Next &rsaquo;" firstText="&laquo; First" lastText="Last &raquo; " [boundaryLinks]="true" [itemsPerPage]="sourceList.size"
                                            [rotate]="false" (pageChanged)="onSelect($event.page-1)">
                                </pagination>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<app-confirmation-madal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-madal>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>-->