<!--<div class="animated fadeIn">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; Form &ndash;&gt;-->
<!--        <div class="col-md-12">-->
<!--            <div class="card">-->
<!--                <form>-->
<!--                    <div class="card-body">-->

<!--                        <div class="container-fluid">-->
<!--                            <div class="page-header h4">Case Details</div>-->
<!--                            -->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>State</label>-->
<!--                                        <input type="text" class="form-control" readonly value="{{validateStress.state}}" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-lg-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Tehsil</label>-->
<!--                                        <input type="text" class="form-control" readonly value="{{validateStress.tehsil}}" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-lg-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Village</label>-->
<!--                                        <input type="text" class="form-control" readonly value="{{validateStress.village}}" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-lg-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Commodity</label>-->
<!--                                        <input type="text" class="form-control" readonly value="{{validateStress.commodity}}" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-lg-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Variety</label>-->
<!--                                        <input type="text" class="form-control" readonly value="{{validateStress.variety}}" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-lg-4">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>CropArea</label>-->
<!--                                        <input type="text" class="form-control" readonly value="{{validateStress.cropArea}}" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <br>-->
<!--                            <div class="page-header h4">Stress Details</div>-->
<!--                            -->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="form-group col-sm-12">-->
<!--                                    <label>Stress <span class="required-asterisk" style="color:red;">*</span></label>-->
<!--                                    <select formControlName="StressID" class="form-control" [ngClass]="{'is-invalid': validateStressForm.get('stressID').touched && validateStressForm.get('stressID').invalid}">-->
<!--                                   <option value="">&#45;&#45;Select&#45;&#45;</option>-->
<!--                                    <option -->
<!--                                     *ngFor="let stressList of validateStress  " value={{stressID.id}}>{{stressID.stressName}}</option>-->
<!--                                </select>-->
<!--                                    <div class="invalid-feedback">-->
<!--                                        <div>Please Select Stress</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        -->
<!--                            &lt;!&ndash; <div class="row">-->
<!--                                <div class="col-sm-12">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Stress<span style=" color: #ff0000"> *</span></label>-->
<!--    -->
<!--                                        <select formControlName="regionId" class="form-control" [ngClass]="{'is-invalid': pageValidateStressGroup.get('regionId').touched && rlGroup.get('regionId').invalid}">-->
<!--                                            <option value="">&#45;&#45; Select Region &#45;&#45;</option>-->
<!--                                            <option *ngFor="let region of regionList" value="{{region.regionId}}"> {{region.name}} </option>-->
<!--                                        </select>-->
<!--    -->
<!--                                        <div class="invalid-feedback">-->
<!--                                            <div>Please Select Region</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="card-footer">-->
<!--                            -->
<!--                      </div>-->
<!--            -->
<!--    </div>-->
<!-- </div>  -->
<!-- -->