<div class="row">

    <!-- Form -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><strong><span *ngIf="mode=='add'"> Add New </span> <span
                    *ngIf="mode=='edit'">Edit </span>Mode Of Payment</strong></div>


            <form [formGroup]="modeOfPaymentForm" (ngSubmit)="submitForm()" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group mb-0">
                                <label>Mode Of Payment Name <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="modeOfPayment" class="form-control" [ngClass]="{'is-invalid': modeOfPaymentForm.get('modeOfPayment').touched && modeOfPaymentForm.get('modeOfPayment').invalid}" (change)="trimValue(this.modeOfPaymentForm.get('modeOfPayment'))">

                                <div class="invalid-feedback">
                                    <div>Mode Of Payment Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><span *ngIf="mode=='add'"> Submit </span> <span
                        *ngIf="mode=='edit'">Update </span></button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/general/mode-of-payment']">Cancel</button>
                </div>

            </form>


        </div>
    </div>

    <!-- Form -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <strong>Bulk Insert</strong><small> Form</small>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" (click)="downloadExcelFormat()" title="Download Format"><i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>




            <form (ngSubmit)="submitExcelForm()" novalidate>
                <div class="card-body">
                    <div class="form-group mb-0">
                        <label for="file-input">Select excel(.xlsx) file</label>
                        <input class="form-control-file" type="file" id="file-input" name="file-input" accept=".xlsx" (change)="uploadExcel($event)">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit"> Submit </button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/general/mode-of-payment']">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>