<div class="row">

    <!-- Form -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><strong><span *ngIf="mode=='add'"> Add New </span> <span
                    *ngIf="mode=='edit'">Edit </span>Bank Categor</strong></div>


            <form [formGroup]="BankCategoryForm" (ngSubmit)="submitForm()" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group mb-0">
                                <label>Bank Category <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': BankCategoryForm.get('name').touched && BankCategoryForm.get('name').invalid}" (change)="trimValue(this.BankCategoryForm.get('name'))">

                                <div class="invalid-feedback">
                                    <div>Bank Category is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Branch Name</label>
                                <input type="text" formControlName="branchName" class="form-control"
                                    [ngClass]="{'is-invalid': BankCategoryForm.get('branchName').touched && BankCategoryForm.get('branchName').invalid}">
                                <div class="invalid-feedback">
                                    <div>Branch Name Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>IFSC Code</label>
                                <input type="text" formControlName="ifscCode" class="form-control"
                                    [ngClass]="{'is-invalid': BankCategoryForm.get('ifscCode').touched && BankCategoryForm.get('ifscCode').invalid}">

                                <div class="invalid-feedback">
                                    <div>IFSC Code is required</div>
                                </div>
                            </div>
                        </div>
                    </div> --></div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><span *ngIf="mode=='add'"> Submit </span> <span
                        *ngIf="mode=='edit'">Update </span></button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/general/bank-category']">Cancel</button>
                </div>

            </form>


        </div>
    </div>

    <!-- Form -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <strong>Bulk Insert</strong><small> Form</small>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" (click)="downloadExcelFormat()" title="Download Format"><i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>




            <form (ngSubmit)="submitExcelForm()" novalidate>
                <div class="card-body">
                    <div class="form-group mb-0">
                        <label for="file-input">Select excel(.xlsx) file</label>
                        <input class="form-control-file" type="file" id="file-input" name="file-input" accept=".xlsx" (change)="uploadExcel($event)">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit"> Submit </button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/general/bank-category']">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>