
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body, h1 {
	font-family: "Raleway", Arial, sans-serif
}

h1 {
	letter-spacing: 6px
}

.w3-row-padding img {
	margin-bottom: 12px
}
</style>
</head>
<body>
	<!-- Header -->
	<header class="w3-panel w3-center w3-opacity" style="padding: 16px">
		<h1 class="w3-xlarge">Cropdata Config Server</h1>
	</header>
	<div class="panel-group" style="margin-top: 20px;">
		<div class="panel panel-primary" style="padding-bottom: 20px;">
			<div class="panel-heading">

				<div class="row">
					<div class="col-md-6">
						<form th:action="@{/homePage}" method="get" align="left">
							<button class="btn btn-md-2 btn-info " name="adminHome"
								type="Submit">Home</button>
						</form>

					</div>
					<div class="col-md-6">
						<form th:action="@{/logout}" method="get" align="right">
							<button class="btn btn-md-2 btn-danger " name="registration"
								type="Submit">Logout</button>
						</form>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="alert alert-success"
					th:if="${message != null && message !=''}">
					<p class="admin-message-text text-center" th:utext="${message}"></p>
				</div>
			</div>

			<div class="container my-5 ">
				<h3 align="center">Application</h3>
				<div class="card">
					<div class="card-body">
						<div class="col-md-6" style="float: none; margin: 0 auto">
							<form autocomplete="off" action="#"
								th:action="@{/application/save-application-property}"
								th:object="${applicationProperties}" method="post"
								id="form_data" class="form-horizontal" role="form">
								<div class="box-container opq">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="libraryId">Application ID:</label> <input
													type="text" class="form-control" id="id" name="id"
													th:field="*{id}" required placeholder="Id" readonly="true">
											</div>




											<div class="form-group">
												<label for="attrKey">Attribute Key:</label> <input
													type="text" class="form-control" id="attrKey"
													name="attrKey" th:field="*{attrKey}" required
													placeholder="Enter Attribute Key">
											</div>

											<div class="form-group">
												<label for="attrValue">Attribute Value:</label> <input
													type="text" class="form-control" id="attrValue"
													name="attrValue" required th:field="*{attrValue}"
													placeholder="Enter Attribute Value">
											</div>


											<div class="form-group text-center">
												<a type="button" href="/application/list"
													class="btn btn-secondary  btn-md">Back</a> <input
													type="submit" value="Submit" class="btn btn-primary btn-md">
											</div>
										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>







<!-- <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
Latest compiled and minified CSS
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&display=swap"
	rel="stylesheet">
<link href="public/css/style.css" rel="stylesheet" type="text/css">
<title>Application Property</title>
</head>

<body>
	<div class="container">
		<h2 class="page-title mt-5">Application Property</h2>
		<span th:utext="${message}"></span>
		<form autocomplete="off" action="#"
			th:action="@{/application/save-application-property}"
			th:object="${applicationProperties}" method="post" id="form_data"
			class="form-horizontal" role="form">
			<div class="box-container opq">
				<div class="row">
					<div class="col-md-12">
						libraries
						<div class="form-group">
							<label for="libraryId">Application ID:</label> <input type="text"
								class="form-control" id="id" name="id" th:field="*{id}" required
								placeholder="Id" readonly="true">
						</div>

						<div id="appended" class="form-group">
							<div class="row form-group">
								<div class="col-md-6">
									Attribute Key
									<div class="form-group">
										<label for="attrKey">Attribute Key:</label> <input type="text"
											class="form-control" id="attrKey" name="attrKey"
											th:field="*{attrKey}" required
											placeholder="Enter Attribute Key">
									</div>
								</div>
								<div class="col-md-6">
									Attribute Value
									<div class="form-group">
										<label for="attrValue">Attribute Value:</label> <input
											type="text" class="form-control" id="attrValue"
											name="attrValue" required th:field="*{attrValue}"
											placeholder="Enter Attribute Value">
									</div>
								</div>
							</div>
						</div>

						ADD data
						<div class="form-group text-center">
							<a type="button" href="/application/list"
								class="btn btn-secondary  btn-md">Back</a> <input type="submit"
								value="Submit" class="btn btn-primary btn-md">
						</div>
					</div>
				</div>
			</div>

		</form>
		<div class="text-primary" id="msg"></div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="http://www.ajax-cross-origin.com/js/jquery.ajax-cross-origin.min.js"></script>

</body>
</html> -->