<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong>Edit Zonal Variety</strong><small> Form</small></div>
                <form [formGroup]="updateVarietyForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>State <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="stateCode" class="form-control" (change)="onChangeLoadAczByStateCode()" [ngClass]="{'is-invalid': updateVarietyForm.get('stateCode').touched && updateVarietyForm.get('stateCode').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let state of StateList" value={{state.stateCode}}>
                                        {{state.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select State</div>
                                </div>
                            </div>
                        </div>
                        <!-- 
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Region</label>
                                <select formControlName="regionId" class="form-control"
                                    [ngClass]="{'is-invalid': updateVarietyForm.get('regionId').touched && updateVarietyForm.get('regionId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let region of regionList" value={{region.regionId}}>
                                        {{region.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Region</div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Season <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="seasonId" class="form-control" [ngClass]="{'is-invalid': updateVarietyForm.get('seasonId').touched && updateVarietyForm.get('seasonId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let season of seasonList" value={{season.id}}>
                                        {{season.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Season</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>ACZ <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="aczId" class="form-control" (change)="onChangeLoadZonalCommodityByAczId()" [ngClass]="{'is-invalid': updateVarietyForm.get('aczId').touched && updateVarietyForm.get('aczId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let acz of aczList" value={{acz.id}}>
                                        {{acz.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select ACZ</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Zonal Commodity <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="zonalCommodityId" class="form-control" (change)="loadVarietyAndSowingHarvestWeekStartEndOnChange();" [ngClass]="{'is-invalid': updateVarietyForm.get('zonalCommodityId').touched && updateVarietyForm.get('zonalCommodityId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let commodity of zonalCommodityList" value={{commodity.id}}>
                                        {{commodity.zonalCommodityName}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Zonal Commodity</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Variety <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="varietyId" class="form-control" [ngClass]="{'is-invalid': updateVarietyForm.get('varietyId').touched && updateVarietyForm.get('varietyId').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let variety  of varietyList" value={{variety.id}}>
                                        {{variety.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Variety</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Sowing Week Start <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="sowingWeekStart" class="form-control" required="required" (change)="onChangeSowingWeekStart()" [ngClass]="{'is-invalid': updateVarietyForm.get('sowingWeekStart').touched && updateVarietyForm.get('sowingWeekStart').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let startWeek of sowingWeekStartList" value="{{startWeek}}">
                                        {{startWeek}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Sowing Week Start</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Sowing Week End <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="sowingWeekEnd" class="form-control" required="required" [ngClass]="{'is-invalid': updateVarietyForm.get('sowingWeekEnd').touched && updateVarietyForm.get('sowingWeekEnd').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let endWeek of sowingWeekEndList" value="{{endWeek}}">
                                        {{endWeek}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Sowing Week End</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Harvest Week Start <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="harvestWeekStart" class="form-control" required="required" (change)="onChangeHarvestWeekStart()" [ngClass]="{'is-invalid': updateVarietyForm.get('harvestWeekStart').touched && updateVarietyForm.get('harvestWeekStart').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let startWeek of harvestWeekStartList" value="{{startWeek}}">
                                        {{startWeek}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Harvest Week Start</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 mb-0">
                                <label>Harvest Week End <span class="required-asterisk" style="color:red;">*</span></label>
                                <select formControlName="harvestWeekEnd" class="form-control" required="required" [ngClass]="{'is-invalid': updateVarietyForm.get('harvestWeekEnd').touched && updateVarietyForm.get('harvestWeekEnd').invalid}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let endWeek of harvestWeekEndList" value="{{endWeek}}">
                                        {{endWeek}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    <div>Please Select Harvest Week End</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"> Update </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/zonal/variety']">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>