<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> All Phenophase Duration
                            <div class="card-header-actions">
                                <button class="btn btn-primary btn-sm move-right" [routerLink]="['/zonal/phenophase-duration/phenophase-duration-add/']"> Add
                                    Phenophase Duration
                                </button>
                                <button class="btn btn-primary btn-sm move-right" (click)="onClickMissing()"> Missing </button>
                                <button class="btn btn-danger btn-sm move-right" (click)="fixBug()"><i class="fa fa-bug"
                                                                                                       aria-hidden="true"></i>
                                    Fix Bugs
                                </button>
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="input-group mb-3 col-lg-8 col-md-8 p-0">
                                        <input type="text" class="form-control" placeholder="Search here...  " [(ngModel)]="searchText">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" (click)="searchPhenophaseDuration()">
                                                Search
                                            </button>
                                            <button class="btn btn-danger" type="button" (click)="searchText='';searchPhenophaseDuration()">Clear
                                            </button>
                                        </div>
                                    </div>

                                    <div class="btn-group action-buttons col-lg-4 col-md-4">
                                        <button class="btn btn-success approve" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Approved','zonal_phenophase_duration')">Approve All</button>
                                        <button class="btn btn-danger reject" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Rejected','zonal_phenophase_duration')">Reject All</button>
                                        <button class="btn btn-primary finalise" [disabled]="bulkDatas.disbled" type="button" (click)="bulkData('Active','zonal_phenophase_duration')">Finalize All</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-responsive-sm table-bordered table-striped table-sm" matSort (matSortChange)="sortData($event)">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 20px;">
                                            <label class="pure-material-checkbox">
                                                <input type="checkbox" (change)="bulkDatas.checkAll($event)" id="masterChkBox">
                                        <span></span>
                                    </label>
                                        </th>
                                        <th style="width: 20px;" mat-sort-header="id">ID</th>
                                        <th class="text-left" mat-sort-header="state">State</th>
                                        <th class="text-left" mat-sort-header="aczName">ACZ</th>
                                        <!-- <th class="text-left" mat-sort-header="season">Season</th> -->
                                        <th class="text-left" mat-sort-header="zonalCommodity">Zonal Commodity</th>
                                        <th class="text-left" mat-sort-header="zonalVariety">Zonal Variety</th>
                                        <th class="text-left" mat-sort-header="phenophase">Phenophase</th>
                                        <!-- <th class="text-left" mat-sort-header="startDas">Start Das</th>
                                        <th class="text-left" mat-sort-header="endDas">End Das</th> -->
                                        <!-- <th class="text-left" mat-sort-header="phenophaseEnd">Phenophase Order</th> -->
                                        <th style="width: 120px;" class="text-center" mat-sort-header="status">Status</th>
                                        <th style="width: 180px;max-width: 180px;min-width: 180px;" *ngIf="missing==0">Action</th>
                                        <th style="width: 80px !important; min-width: 80px !important;" *ngIf="missing==1">Action</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="pageZonalPhenophaseDuration?.content">
                                    <tr *ngFor="let phenophaseDuration of pageZonalPhenophaseDuration.content  | searchFilter :searchText:['id','state','aczName','zonalCommodity','zonalVariety','phenophase','startDas','endDas','status']">
                                        <div title="{{phenophaseDuration.errorMessage}}" class="{{phenophaseDuration.isValid ? '': 'IsInValid'}}">
                                            <!-- <tbody>
                      <tr *ngFor="let phenophaseDuration of PhenophaseDurationList"> -->
                                            <td>
                                                <label class="pure-material-checkbox">
                                                    <input type="checkbox" (change)="bulkDatas.checked($event)" value="{{phenophaseDuration.id}}">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td scope="row">{{phenophaseDuration.id}}</td>
                                            
                                            <td class="text-left">{{phenophaseDuration.state | titlecase}}</td>
                                            <td class="text-left">{{phenophaseDuration.aczName | titlecase}}</td>
                                            <!-- <td class="text-left">{{phenophaseDuration.season}}</td> -->
                                            <!-- <td class="text-left">{{phenophaseDuration.commodity | titlecase}}</td>
                                            <td class="text-left">{{phenophaseDuration.variety}}</td> -->
                                            <td class="text-left"><b>Commodity : </b>{{phenophaseDuration.zonalCommodity}}<br> <b>Sowing Week Start : </b>{{phenophaseDuration.zcSowingWeekStart}}
                                                <br> <b>Sowing Week End : </b>{{phenophaseDuration.zcSowingWeekEnd}}</td>
                                            <td class="text-left"><b>Variety : </b>{{phenophaseDuration.zonalVariety}}<br> <b>Sowing Week Start : </b>{{phenophaseDuration.zvSowingWeekStart}}
                                                <br> <b>Sowing Week End : </b>{{phenophaseDuration.zvSowingWeekEnd}}</td>
                                            <td class="text-left">{{phenophaseDuration.phenophase | titlecase}}</td>
                                            <!-- <td class="text-left">{{phenophaseDuration.startDas}}</td>
                                            <td class="text-left">{{phenophaseDuration.endDas}}</td> -->
                                            <!-- <td class="text-left">{{phenophaseDuration.phenophaseOrder}}</td> -->
                                            <td style="width: 120px;" class="text-center">
                                                <span style="width: 100px;" class="{{phenophaseDuration.status =='Inactive'?'badge badge-secondary':phenophaseDuration.status =='Approved'?'badge badge-success':phenophaseDuration.status =='Active'?'badge badge-primary':'badge badge-danger'}}">{{phenophaseDuration.status}}</span>
                                            </td>
                                            <td *ngIf="missing==0">

                                                <!-- <button type="button" class="btn btn-warning btn-sm move-right" title="Image Preview" (click)="imagePreview(phenophaseDuration.phenophase,phenophaseDuration.imageURL)">
                                                <i
                                                        class="fa fa-image "></i></button> -->
                                                <button type="button" class="btn btn-info btn-sm move-right" title="Edit" [routerLink]="['/zonal/phenophase-duration/phenophase-duration-edit/', phenophaseDuration.id]" *ngIf="userRightsService.canEdit()"><i
                                                    class="fa fa-pencil-square-o"></i></button>
                                                <button type="button" class="btn btn-success btn-sm move-right" title="Approve" [disabled]="phenophaseDuration.status == phenophaseDurationStatus.APPROVED_STATUS||phenophaseDuration.status == phenophaseDurationStatus.ACTIVE_STATUS" (click)="approve(phenophaseDuration,i)"
                                                    *ngIf="userRightsService.canPrimaryApprove()"><i
                                                    class="fa fa-get-pocket"></i></button>
                                                <button type="button" class="btn btn-primary btn-sm move-right" title="{{phenophaseDuration.status == phenophaseDurationStatus.INACTIVE_STATUS || phenophaseDuration.status == phenophaseDurationStatus.REJECTED_STATUS?phenophaseDurationStatus.CAN_NOT_FINALIZE:'Finalize'}}"
                                                    [disabled]="phenophaseDuration.status == phenophaseDurationStatus.ACTIVE_STATUS || phenophaseDuration.status == phenophaseDurationStatus.INACTIVE_STATUS || phenophaseDuration.status == phenophaseDurationStatus.REJECTED_STATUS"
                                                    (click)="finalize(phenophaseDuration,i)" *ngIf="userRightsService.canFinalize()"><i
                                                    class="fa  fa-thumbs-up"></i></button>
                                                <button type="button" class="btn btn-danger btn-sm move-right" title="Reject" [disabled]="phenophaseDuration.status == phenophaseDurationStatus.REJECTED_STATUS" (click)="reject(phenophaseDuration,i)" *ngIf="userRightsService.canReject()"><i
                                                    class="fa fa-close"></i></button>
                                                <button type="button" class="btn btn-danger btn-sm move-right" title="Delete" [disabled]="phenophaseDuration.status == phenophaseDurationStatus.DELETED_STATUS" (click)="delete(phenophaseDuration,i)" *ngIf="userRightsService.canDelete()"><i
                                                    class="fa fa-close"></i></button>
                                            </td>
                                            <td *ngIf="missing==1" style="width: 80px !important;">
                                                <button type="button" class="btn btn-info btn-sm move-right" title="Move To Master" (click)="moveToMaster(phenophaseDuration.id)" *ngIf="userRightsService.canMoveToMaster()"><i class="fa fa-arrow-right"></i></button>
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="pageZonalPhenophaseDuration.content.length == 0">
                                    <td colspan="11" class="text-left">Data Not Found..!!</td>
                                </tbody>
                            </table>

                            <div class="row justify-content-between m-0">
                                <div class="col-xs-9 col-9 text-center p-0" *ngIf="pageZonalPhenophaseDuration?.content">
                                    <pagination [totalItems]="pageZonalPhenophaseDuration.totalElements" [(ngModel)]="selectedPage" [maxSize]="maxSize" class="pagination-md" previousText="&lsaquo; Prev" nextText="Next &rsaquo;" firstText="&laquo; First" lastText="Last &raquo; " [boundaryLinks]="true"
                                        [itemsPerPage]="pageZonalPhenophaseDuration.size" [rotate]="false" (numPages)="numPages = $event;" (pageChanged)="onSelect($event.page-1)">
                                    </pagination>
                                </div>
                                <div class="row col-xs-3 col-3 m-0" *ngIf="pageZonalPhenophaseDuration?.content">
                                    <div class="col text-right p-0">
                                        <label class="text-right">Records per page</label>
                                        <select class="p-0" (change)="loadData($event)">
                                    <option value="10" selected>10</option>
                                    <option *ngFor="let items of records" value="{{items}}">{{items}}</option>
                                </select> &nbsp;
                                        <label class="text-center">Page {{selectedPage}} of
                                    {{pageZonalPhenophaseDuration.totalPages}}</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-image-preview-modal #imagePreviewModal></app-image-preview-modal>
<app-confirmation-madal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-madal>
<app-success-modal (hideModal)="modalSuccess($event)" #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>