// .td-text{
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     // width: 85%;
//     overflow: hidden;
//     display: inline-block;
// }

// .td-btn{
//     display: inline
// }

// .text-left{
//     width: 20%;
// }


.card-body {
    .table {  
      &.table-bordered {
  
        .thead-light{
          th{
            width: 223px;
          }
        }

        td{
            .stress_name{
                white-space: nowrap; 
                width: 100%; 
                display: block;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
          }
      }
    }
}  