<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong><span *ngIf="mode=='add'"> Add Tool</span> <span
              *ngIf="mode=='edit'">Edit Tool</span></strong></div>
                <form [formGroup]="productsAndServicesForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Name <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="text" formControlName="name" class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': productsAndServicesForm.get( 'name').touched && productsAndServicesForm.get( 'name').invalid}" (change)="trimValue(this.productsAndServicesForm.get('name'))">
                                <div class="invalid-feedback">
                                    <div>Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="form-group">
                                    <label>Platform Name </label>
                                    <select formControlName="platformID" class="form-control" [ngClass]="{'is-invalid': productsAndServicesForm.get('platformID').touched && productsAndServicesForm.get('platformID').invalid}">
                          <option value="">--Select--</option>
                          <option *ngFor="let platform of platFormList" value="{{platform.id}}">{{platform.name}}</option>
                      </select>

                                    <!-- <div class="invalid-feedback">
                                        <div>Platform Name is required</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Description <span class="required-asterisk" style="color:red;">*</span></label>
                                <textarea formControlName="description" class="form-control" rows="2" maxlength="255" [ngClass]="{ 'is-invalid': productsAndServicesForm.get( 'description').touched && productsAndServicesForm.get( 'description').invalid}" (change)="trimValue(this.productsAndServicesForm.get('description'))">
                              </textarea>
                                <div class="invalid-feedback">
                                    <div>Description is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2 mb-0">
                                <label>Upload Logo <span class="required-asterisk" style="color:red;">*</span></label>
                                <input type="file" formControlName="logoFile" (change)="onLogoChange($event)" class="form-control-file" id="logoFile" [ngClass]="{'is-invalid': productsAndServicesForm.get('logoFile').touched && productsAndServicesForm.get('logoFile').invalid}">
                                <div class="invalid-feedback">
                                    <div *ngIf="productsAndServicesForm.get( 'logoFile').errors?.required">Uplodad Logo is required</div>
                                    <div *ngIf="productsAndServicesForm.get( 'logoFile').errors?.fileSizeValidatorForDoc">Logo size should not be more than 10 MB</div>
                                </div>
                            </div>
                            <div class="col-sm-2" [hidden]="isLogo">
                                <div class="form-group mb-0">
                                    <label>Current Logo</label>
                                    <img src="{{logo}}" class="img-fluid form-control" style="height: 100px !important;" width="50" alt="logo">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer ">
                        <button class="btn btn-primary " type="submit "> <span *ngIf="mode=='add'"> Submit</span> <span
                  *ngIf="mode=='edit'">Update</span> </button>
                        <button type="button" class="btn btn-danger" [routerLink]="['/cropdata-portal/products-and-servics']">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-success-modal (hideModal)="modalSuccess($event) " #successModal></app-success-modal>
<app-error-modal #errorModal></app-error-modal>